<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="featureSet1" type="LarsW.OnOff.Configuration.SimpleBooleanFeatureSection, LarsW.OnOff" />
  </configSections>
  <featureSet1>
    <feature name="Foo" enabled="true" />
    <feature name="Bar" enabled="false" />
  </featureSet1>
</configuration>